<%= form_with(model: collected_email, local: true) do |form| %>
  <% if collected_email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collected_email.errors.count, "error") %> prohibited this collected_email from being saved:</h2>

      <ul>
      <% collected_email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :collected_email_email %>
  </div>

  <div class="field">
    <%= form.label :shop_id %>
    <%= form.text_field :shop_id, id: :collected_email_shop_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
