= form_with(model: collected_email, local: true) do |form|
  - if collected_email.errors.any?
    #error_explanation
      %h2
        = pluralize(collected_email.errors.count, "error")
        prohibited this collected_email from being saved:
      %ul
        - collected_email.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :email
    = form.text_field :email, id: :collected_email_email
  .actions
    = form.submit
