<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>
<h2>Products</h2>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %></li>
  <% end %>
</ul>

<hr>

<h2>Webhooks</h2>

<% if @webhooks.present? %>
  <ul>
    <% @webhooks.each do |webhook| %>
      <li><%= webhook.topic %> : <%= webhook.address %></li>
    <% end %>
  </ul>
<% else %>
  <p>This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</p>
<% end %>

<h2>Discounts</h2>
<% if @discounts.present? %>
  <ul>
    <% @discounts.each do |discount| %>
      <li><%= discount.title %> : <%= discount.value %></li>
    <% end %>
  </ul>
<% else %>
  <p>This app has not created any Discounts for this Shop.</p>
<% end %>

<h2>Customers</h2>
<% if @customers.present? %>
  <ul>
    <% @customers.each do |customer| %>
      <li><%= customer.email %></li>
    <% end %>
  </ul>
<% else %>
  <p>This app has not created any Customers for this Shop.</p>
<% end %>
